<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block content %}
    <h1>Drop Classes</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.choice.label }}<br>
            {{ form.choice(size=32) }}<br>
            {% for error in form.choice.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.check.label }}<br>
            {{ form.check(size=20) }}<br>
            {% for error in form.check.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
</html>